{% load static %}
<html lang="en">
<head>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <!--<link rel="stylesheet" type="text/css" href={% static 'events/events.css' %} />-->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">
    {% block head_extras %}<title>Observatory Status System</title>{% endblock %}
		<style>
		    input[type="range"] {
		    width: 300px;
		    padding: 0px;
		    }
		    input[type="range"]::-ms-tooltip { /* hides readout in IE */
		    display: none;
		    }
		    input[type="range"]::-ms-track { /* hides tick marks in IE */
		    color: transparent;
		    }
            table, th, td {
            border: 1px;
            padding: 5px;
            }
            table {
            border-spacing: 15px;
            }
		</style>
</head>

<body bgcolor="#98AFC7" style="font-family:verdana;">
<!-- Container -->
<div id="container">
   <!-- Header -->
   <div id="header">
        <div id="branding">
           <h1 id="site-name"><a href="{% url 'facilities_list' %}">Observatory Status System</a></h1>
        </div>
    </div>
    <!-- END Header -->
<!-- Content -->
<div id="content">

{% block content %}

{% endblock %}

</div>
<!-- End Content -->

</div>
<!-- End Container -->
</body>
</html>
