<tr style="background-color:{{tel_bgcolor}}; color:{{tel_fontcolor}}">
  <td>{{tel_status.name}}</td>
  <td></td>
  <td>{{tel_status.status}}</td>
  <td>{{tel_status.comment}}</td>
</tr>
  {% for instrument in tel_status.instruments %}
    <tr>
      <td></td><td>{{instrument.0}}</td>
      <td style="background-color:{{instrument.3}}; color:{{instrument.4}}">{{instrument.1}}</td>
      <td style="background-color:{{instrument.3}}; color:{{instrument.4}}">{{instrument.2}}</td>
    </tr>
  {% endfor %}
